.vehiclelist {
    width: 100%;
}

.vehiclelist dl.file dd {
    display: none;
}

.listing-title {
    width: 100%;
}

.postbody.vehiclelist .inline-attachment {
    margin-top: 5px;
}

dl.file,
div.inline-attachment dl.file {
    max-width: 130px;
    float: left;
}